div#rc_carousel div.carouselitem {
    padding: 20px;
}

div#rc_carousel div.carouselitem div.rc_coursename {
    text-align: center;
}

div#rc_carousel div.carouselitem div.rc_coursename a {
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: bold;
}

div#rc_carousel div.rc_courseimage img {
    width: 100%;
}

.slick-prev:before, .slick-next:before {
    color: #CCC !important;
}

.slick-prev {
    left: -10px !important;
}
.slick-next {
    right: -10px !important;
}